
body {
    background-color: #000;
    font-family: 'Merriweather';
    height: 40vw;
    margin: 0;
    padding: 0;
    width: 100vw;
   
}

img{
    width: 30px;
    height: 20px
}

a{
    color: #fff;
    text-decoration: none;
}

.board-squares {
    background-position-y: 1vw ;
    border: 0.1px dashed #880808;
    height: 32%;
    width: 32%;
}

.chosen-card{
    height: 6vw;
    width: 10vw;
}

#home-button{
    font-size: 2vw;
    left: 41vw;
    position: relative;
}

#instructions {
    background-color: bisque;
    border-radius: 25%;
    color: #880808;
    display: flex;
    justify-content: center;
    left: 30vw;
    font-size: 1.8vw;
    margin-top: 3vw;
    padding: 0.2vw;
    position: relative;
    width: 40vw;
}



#instructions a {
    background-color: bisque;
    border-radius: 25%;
    color: #880808;
    display: flex;
    justify-content: center;
    font-size: 1,8vw;
    padding: 0.2vw;
    position: relative;
    width: 40vw;
}

.player-active-tokens{
    background-color: #000;
    border-radius: 50%;
    height: 2vw;
    left: 3vw;
    position: relative;
    width: 2vw
}

.players-cards{
    align-items: center;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1px solid black;
    display: flex;
    height: 6vw;
    position: relative;
    width: 10vw;
}

.player1s-cards{
    background-color: lightblue;
}

.player2s-cards{
    background-color: lightcoral;
}

.players-name{
    color: #fff;
    font-size: 2.2vw;
    margin-bottom: 2vw;
}

.players-points{
    color: #fff;
    font-size: 3vw;
}

.players-side{
    bottom: 5vw;
    height: 30vw;
    position: relative;
    text-align: center;
    width: 10vw;
}

#board{
    background-color: antiquewhite;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30vw;
    margin-top: 5vw;
    width: 40vw;
}

#game-area{
    display: flex;
    justify-content: space-around;
}

.instructions{
    background-color: bisque;
    border-radius: 25%;
    color: #880808;
    display: flex;
    justify-content: center;
    left: 30vw;
    font-size: 2vw;
    margin-top: 3vw;
    padding: 0.2vw;
    position: relative;
    width: 40vw;
}

#player1-chosen-card{
    background-color: lightblue;
    visibility: hidden;
}
#player2-chosen-card{
    background-color: lightcoral;
    visibility: hidden;
}





