body{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    height: 30vw;
    justify-content: space-between;
    margin: 0;
    opacity: 0.85;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100vw;
}

h1 {
    margin: 0;
    padding: 0;
}

.footer-aside{
    font-size: 1vw;
}

.navbar {
    margin: 3vw 3vw;
}


.navbar-brand {
    color: #FFF5EE;
    font-size: 1vw;
    left: 8vw;
    position: absolute;
    top: 3vw;
}

.navbar-brand-logo {
    border-radius: 100%;
    width: 10vw;
}

.navbar-aside {
    font-size: 1vw;
}

.title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-card {
    text-align: center;
}

.enter {
    justify-content: left;
}

.title-card-title {
    bottom: 1.2vw;
    color: #880808;
    font-family: "Creepster";
    font-size: 15vw;
    position: relative;
    z-index: 1;
}

.title-card-logo {
    left: 30vw;
    position: relative;
    top: -6Vw;
    width: 11vw;
    z-index: 2;
}

.door {
    position: relative;
    right: 22vw;
    width: 25vw;
}

.col {
    text-align: center;
}

.overview-text {
    font-size: 2vw;
}

.quick-start-button{
    align-self: center;
    color: rgb(100, 98, 98);
    font-size: 2.5vw;
    position: relative;
    left: 13vw;
    text-decoration: none;
    top: -14vw;
    width: 15vw;
}
.quick-start-button:hover{
    color: #FFF5EE;
    text-decoration: none;
}

#index-page{
    align-items: center;
    background-color: pink;
    display:flex;  
    flex-direction: column;
    justify-content: space-around;
}

#overview {
    text-align: center;
    width: 80%
}

#contacts {
    bottom: 2vw;
    margin-bottom: 13vw;
    position: relative;
    text-align: center;
}

.footer-aside{
    bottom: 2vw;
    position: relative;
}

.socials {
    color: #880808;
}

.socials:hover {
    color: #FFF5EE;
}