body{
    background-color:#000;
    color: #848281;
    font-family: 'Merriweather';
    margin: 3vw;
    padding: 1vw;
    text-align: center;
}

a{
    color: #FFF5EE;
}


a:hover{
    text-decoration: none;
}


.socials{
    color: #880808;
    font-size: 1vw;
    margin: 0.5vw;
    position: relative;
}


#contacts{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2.5vw;
    text-align: center;
}

#contacts-aside{
    font-size: 1.3vw;
}

#copyright{
    font-size: 1vw;
}

#landing-page{
    bottom: 2vw;
    position: relative;
    text-align: center;
}

#landing-page-logo{
    height: 14vw;
    left: 21vw;
    position: absolute;
    top: 19vw;
    width: 15vw;
}

#landing-page-title{
    color:#880808;
    font-family: 'Creepster';
    font-size: 22vw;
    height: 10vw;
    text-align: center;
    width: 20vw;
}

#lets-play-button{
    background-color: #FFF5EE;
    border-radius: 5%;
    border-style: groove;
    bottom: 4.5vw;
    color: #848281;
    font-size: 2vw;
    left: 18vw;
    position: relative;
    text-decoration: none;
}

#navbar{
    font-size: 1.2vw;
    text-align: left;
}

#navbar-aside{
    position: relative;
    right: 8vw;
}

#navbar-logo{
    border-radius: 50%;
    position: relative;
    right: 3vw;
    width: 7%;
}

#social-links{
    align-self: center;
    display: flex;
}

